fastapi
uvicorn
pydantic
sqlalchemy
alembic
python-multipart
tqdm
aiohttp
requests
tesserocr
opencv-python
pillow
langchain
sentence-transformers
faiss-cpu
python-dotenv
transformers
torch
sentencepiece
